sys_layer/src/main/mule/sys_layer.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="sys_layer-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="sys_layer-config" api="sys_layer.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="CustomerInfo_config" doc:name="Database Config" doc:id="c8fbdb7f-a565-4b2a-9104-0ad57caf6ff4">
        <db:generic-connection url="jdbc:postgresql://localhost:5432/E-shop" driverClassName="org.postgresql.Driver" user="postgres" password="Veigar123" />
    </db:config>
    <flow name="sys_layer-main">
        <http:listener config-ref="sys_layer-httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sys_layer-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sys_layer-console">
        <http:listener config-ref="sys_layer-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sys_layer-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\customers:sys_layer-config">
        <db:select doc:name="Select" doc:id="88fb9efa-65aa-482e-99b1-51f42eeccf7d" config-ref="CustomerInfo_config">
            <db:sql><![CDATA[SELECT *
FROM "Customer_data"]]></db:sql>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="6fa37269-0557-45a3-b56a-72826344cb55">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	CustomerId: payload01.Customer_ID default "",
	FirstName: payload01.FirstName default "",
	LastName: payload01.LastName default "",
	Email: payload01.Email default "",
	PhoneNumber: payload01.PhoneNumber default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customerId):sys_layer-config">
        <set-variable value="#[attributes.uriParams.customerId]" doc:name="URIparam" doc:id="245a6b55-f78e-451d-b5f2-9f4b11679469" variableName="customerID"/>
        <db:select doc:name="Select" doc:id="34555982-f426-463f-8950-ecb60abfd492" config-ref="CustomerInfo_config">
            <db:sql><![CDATA[SELECT *
FROM "Customer_data"
WHERE "Customer_ID" = :CustomerID]]></db:sql>
            <db:input-parameters><![CDATA[#[CustomerID : vars.customerID]]]></db:input-parameters>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="d10d979f-71bc-4fc7-9072-ab1c75c63ad4">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	FirstName: payload[0].FirstName default "",
	LastName: payload[0].LastName default "",
	Email: payload.Email[0] default "",
	PhoneNumber: payload[0].PhoneNumber default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers\create:application\json:sys_layer-config">
        <db:insert doc:name="Insert" doc:id="9cda7887-cef2-4b6d-ad0d-2ba4970bb7b3" config-ref="CustomerInfo_config">
            <db:sql><![CDATA[INSERT INTO "Customer_data"
("FirstName", "LastName", "Email", "PhoneNumber")
VALUES (:FirstName, :LastName, :Email, :PhoneNumber)]]></db:sql>
            <db:input-parameters><![CDATA[#[output application/java
---
{
	FirstName: payload.FirstName,
	LastName: payload.LastName,
	Email: payload.Email,
	PhoneNumber: payload.PhoneNumber
}]]]></db:input-parameters>
        </db:insert>
		<ee:transform doc:name="Transform Message" doc:id="36ece0b4-940e-48e1-be46-30dec69851b1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Customer data added sucessfully!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\purchases:sys_layer-config">
        <db:select doc:name="Select" doc:id="0343a847-33fb-4d20-8b86-18c70f873f76" config-ref="CustomerInfo_config">
            <db:sql><![CDATA[SELECT * 
FROM "Purchase_data"]]></db:sql>
        </db:select>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	PurchaseId: payload01.Purchase_ID as String,
	CustomerId: payload01.Customer_ID as String,
	Product: payload01.Product default "",
	Firm: payload01.Firm default "",
	Price: payload01.Price default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\purchases\create:application\json:sys_layer-config">
        <db:insert doc:name="Insert" doc:id="08d807ab-13dc-4020-9c6b-817cf0a761aa" config-ref="CustomerInfo_config">
            <db:sql><![CDATA[INSERT INTO "Purchase_data"
("Product", "Price", "Customer_ID", "Firm")
VALUES (:Product, :Price, :Customer_ID, :Firm)]]></db:sql>
            <db:input-parameters><![CDATA[#[output application/java
---
{
	Product: payload.Product,
	Firm: payload.Firm,
	Price: payload.Price,
	Customer_ID: payload.CustomerId as Number
}]]]></db:input-parameters>
        </db:insert>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "message": "Data inserted sucessfully!",
  "affected_rows" : payload.affectedRows
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
